/*Cualquier modificacion del estilo y diseño se hace por medio de esta pantalla
Ultima modifiacion Edgar para agregacion de formulario */

body, html {
  font-family: 'IBM Plex Sans', sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: #666;
  width: 100% !important;
  height: 100% !important;
}

h1 {
  font-weight: 700;
}

h1 strong {
  font-weight: 900;
}

h2 {
  line-height: 20px;
  margin: 0;
  /*color: rgb(40, 40, 40);*/
  font-weight: 400;
  margin-bottom: 30px;
  font-size: 34px;
  text-transform: uppercase;
}

h3, h4 {
  color: #333;
  font-size: 20px;
  font-weight: 600;
}

h5 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
}

p {
  font-size: 15px;
}

p.intro {
  font-size: 16px;
  margin: 12px 0 0;
  line-height: 24px;
  font-family: 'IBM Plex Sans', sans-serif;
}

a {
  color: #222;
}

a:hover, a:focus {
  text-decoration: none;
  color: #526cbb;
}

ul, ol {
  list-style: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

ul, ol {
  padding: 0;
  webkit-padding: 0;
  moz-padding: 0;
}
#l1 {

  height: 4px;
  width: 85%;
  text-align: center;
  position: relative;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6b4da8+0,4977c2+100 */
  background: rgb(73, 119, 194);
  /* Old browsers */
  background: -moz-linear-gradient(left, rgba(23, 175, 75, 0.85) 0%, rgba(23, 175, 75, 0.85) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(23, 175, 75, 0.85, 0.85) 0%, rgba(23, 175, 75, 0.85) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(23, 175, 75, 0.85, 0.85) 0%, rgba(23, 175, 75, 0.85) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b4da8', endColorstr='#4977c2', GradientType=1);
  /* IE6-9 */
  margin: 0 auto;
  margin-bottom: 30px;
  border: 0;

}
hr {
  height: 4px;
  width: 70px;
  text-align: center;
  position: relative;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6b4da8+0,4977c2+100 */
  background: rgb(73, 119, 194);
  /* Old browsers */
  background: -moz-linear-gradient(left, rgba(23, 175, 75, 0.85) 0%, rgba(23, 175, 75, 0.85) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(23, 175, 75, 0.85, 0.85) 0%, rgba(23, 175, 75, 0.85) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(23, 175, 75, 0.85, 0.85) 0%, rgba(23, 175, 75, 0.85) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b4da8', endColorstr='#4977c2', GradientType=1);
  /* IE6-9 */
  margin: 0 auto;
  margin-bottom: 30px;
  border: 0;
}

/* Navigation */

#nav {
  z-index: 9999;
}

#nav.affix {
  position: fixed;
  top: 0;
  width: 100%
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-custom {
  margin-bottom: 0;
  background-color: #222;
  border-radius: 0px;
  padding: 10px 0;
}

.navbar-custom .navbar-brand {
  font-weight: 600;
}

.navbar-custom .navbar-brand:focus {
  outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
  padding: 4px 6px;
  font-size: 10px;
  color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus, .navbar-custom .navbar-brand .navbar-toggle:active {
  outline: 0;
}

.navbar-custom a {
  color: #aaa;
}

.navbar-custom .nav li a {
  margin: 0 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
  outline: 0;
  color: #526cbb;
  background-color: transparent;
}

.navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
  outline: 0;
  background-color: transparent;
  color: #526cbb;
}

.navbar-custom .nav li.active {
  outline: 0;
}

.navbar-custom .nav li.active a {
  background-color: rgba(255, 255, 255, .3);
}

.navbar-custom .nav li.active a:hover {
  color: #fff;
}

.btn-default {
  color: rgba(255, 255, 255, 0.8);
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  padding: 12px 20px;
  margin: 0;
  font-size: 15px;
  border-radius: 0;
  text-transform: uppercase;
}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
  color: #fff;
  background-color: #222;
  border-color: #222;
}

.btn-primary {
  color: #526cbb;
  background-color: transparent;
  padding: 12px 20px;
  border: 2px solid #526cbb;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active {
  color: #fff;
  background-color: #526cbb;
  border-color: #526cbb;
}

.btn-primary i.fa {
  margin-right: 10px;
}

.btn:active, .btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: none;
  outline-offset: none;
}

/* Home Section
Modificacion de la foto de inicio */

.intro {
  display: table;
  width: 100%;
  height: auto;
  text-align: center;
  color: #fff;
  background: url(../images/about.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.intro .overlay {
  padding: 100px 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6b4da8+0,4977c2+100&0.85+0,0.85+100 */
  background: -moz-linear-gradient(left, rgba(82, 151, 148, 0.85) 0%, rgba(73, 147, 92, 0.85) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(82, 151, 93, 0.85) 0%, rgba(73, 147, 92, 0.85) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(82, 151, 93, 0.85) 0%, rgba(73, 147, 92, 0.85) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d96b4da8', endColorstr='#d94977c2', GradientType=1);
  /* IE6-9 */
}

.section-title.center {
  padding: 25px 0 45px 0;
}

/* About Section */

#about {
  padding: 100px 0;
  background: #f6f6f6;
}

#about .about-text {
  margin-left: 30px;
}

#about img {
  border-radius: 8px;
  float: right;
  width: 40%;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#about p {
  margin-top: 20px;
  margin-bottom: 30px;
}

/*About 2*/

#about2 .about-text {
  margin-top:50px;
  font-size: 20px;
  margin-bottom: 40px;
  letter-spacing: 2px;
}

#about2 img {
  border-radius: 8px;
  float: right;
  width: 50%;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#about2 p {
  margin-top: 20px;
  margin-bottom: 30px;
}

/* Skills Section */

#skills{
  display: table;
  width: 100%;
  height: auto;
  text-align: center;
  color: #fff;
  background: url(../images/about.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#skills {
  padding: 100px 0;
  /* Old browsers */
  background: -moz-linear-gradient(left, rgba(182, 100, 163, 0.85) 0%, rgba(116, 35, 95, 0.85) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(182, 100, 163, 0.85) 0%, rgba(116, 35, 95, 0.85) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(182, 100, 163, 0.85) 0%, rgba(116, 35, 95, 0.85) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b4da8', endColorstr='#4977c2', GradientType=1);
  /* IE6-9 */
}

#skills h2 {
  color: #fff;
}

#skills hr {
  background: rgba(255, 255, 255, 0.3);
}

#skills .skill {
  margin-bottom: 40px;
  text-align: center;
  padding: 0px;
}

#skills .skill h4 {
  font-weight: 600;
  color: #fff;
}

.chart {
  position: relative;
  display: inline-block;
  width: 140px;
  height: 140px;
  margin-bottom: 26px;
  text-align: center;
}

.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.percent {
  display: inline-block;
  font-size: 21px;
  color: #fff;
  line-height: 140px;
  z-index: 2;
}

.percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;
}

/* Portfolio Section */

#portfolio {
  padding: 100px 0;
  background: #f6f6f6;
}

.categories {
  padding-bottom: 30px;
  text-align: center;
}

ul.cat li {
  display: inline-block;
}

ol.type li {
  display: inline-block;
  margin-left: 20px;
  text-transform: uppercase;
}

ol.type li a {
  background: transparent;
  border: 2px solid #526cbb;
  color: #526cbb;
  padding: 10px 20px;
}

ol.type li a.active {
  background: #526cbb;
  color: #fff;
}

ol.type li a:hover {
  background: #526cbb;
  color: #fff;
}

.isotope-item {
  z-index: 2
}

.isotope-hidden.isotope-item {
  z-index: 1
}

.isotope, .isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope-item {
  margin-right: -1px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.isotope {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}

.portfolio-item {
  margin: 15px 0;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.portfolio-item:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.portfolio-item .hover-bg {
  height: 260px;
  overflow: hidden;
  position: relative;
}

.hover-bg .hover-text {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.66);
  padding: 33% 0 0 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
}

.hover-bg .hover-text>h4 {
  opacity: 0;
  color: #fff;
  font-weight: 400;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition: all 0.3s;
}

.hover-bg:hover .hover-text>h4 {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.hover-bg .hover-text>i {
  opacity: 0;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition: all 0.3s;
}

.hover-bg:hover .hover-text>i {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.hover-bg:hover .hover-text {
  opacity: 1;
}

#portfolio i.fa {
  font-size: 20px;
  padding: 5px;
  color: #E87E04;
}

/* Achivements Section */

#achievements {
  color: #fff;
  background: url(../images/final.jpeg);
  background-color: #7bc3d1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#achievements {
  padding: 100px 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6b4da8+0,4977c2+100 */
  /*background: rgb(107, 77, 168);*/
  /* Old browsers */
  background: -moz-linear-gradient(left, rgb(151, 231, 255) 0%, rgb(151, 231, 255) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgb(151, 231, 255) 0%, rgb(151, 231, 255) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgb(151, 231, 255) 0%, rgb(151, 231, 255) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b4da8', endColorstr='#4977c2', GradientType=1);
  /* IE6-9 */
}

#achievements h2 {
  color: #fff;
}

#achievements hr {
  background: rgba(255, 255, 255, 0.3);
}

.achievement-box h4 {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin-left: 5px;
  text-transform: uppercase;
}

.achievement-box span.count {
  font-size: 52px;
  font-weight: 600;
  display: block;
  color: rgba(255, 255, 255, 0.8);
  padding: 0;
  margin: 0;
}

/* Testimonials Section */

#testimonials {
  padding: 100px 0;
  background: #F6F6F6;
}

#testimonials blockquote {
  position: relative;
  margin-top: 20px;
  border: 0;
  text-align: center;
  background: #fff;
  padding: 30px 20px;
}

#testimonials i {
  font-size: 24px;
  color: #eee;
  margin-bottom: 14px;
}

#testimonials .clients-name {
  display: inline-block;
  border-top: 1px solid #eee;
  padding-top: 20px;
  margin-top: 10px;
}

/* Profile Seccion */

#contact {
  color: #fff;
  background: url(../images/final.jpeg) no-repeat center top;
  background-color: #7bc3d1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#contact .overlay {
  padding: 100px 0 40px 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6b4da8+0,4977c2+100&0.85+0,0.85+100 */
  background: -moz-linear-gradient(left, rgba(67, 50, 41, 0.85) 0%, rgba(66, 54, 48, 0.85) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(67, 50, 41, 0.85) 0%, rgba(66, 54, 48, 0.85) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(67, 50, 41, 0.85) 0%, rgba(66, 54, 48, 0.85) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d96b4da8', endColorstr='#d94977c2', GradientType=1);
  /* IE6-9 */
}

#contact h2 {
  color: #fff;
}

#contact hr {
  background: rgba(255, 255, 255, 0.3);
}

#contact h3 {
  padding-top: 20px;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}

#contact form {
  padding: 30px 0;
}

#contact i.fa {
  color: #121d1f;
  margin-bottom: 10px;
}

#contact .text-danger {
  color: #E87E04;
  text-align: left;
}

label {
  font-size: 12px;
  font-weight: 400;
  font-family: 'IBM Plex Sans', sans-serif;
  float: left;
}

#contact .form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  margin: 10px 0;
  font-size: 14px;
  line-height: 1.42857143;
  color: #222;
  /*background-color: rgba(255, 255, 255, 0.6);*/
  background-image: none;
  border: 0;
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

#contact .form-control:focus {
  border-color: inherit;
  outline: 0;
  -webkit-box-shadow: transparent;
  box-shadow: transparent;
}

.form-control::-webkit-input-placeholder {
  color: #2c3e50;
}

.form-control:-moz-placeholder {
  color: #2c3e50;
}

.form-control::-moz-placeholder {
  color: #2c3e50;
}

.form-control:-ms-input-placeholder {
  color: #2c3e50;
}

#contact .btn {
  margin-top: 20px;
}

#contact .social {
  margin-top: 80px;
}

#contact .social ul li {
  display: inline-block;
  margin: 0 20px;
}

#contact .social i.fa {
  font-size: 30px;
  padding: 4px 5px;
  color: #fff;
  transition: all 0.5s;
}

#contact .social i.fa:hover {
  color: #121d1f;
}

/* Footer Section*/

#footer {
  background: #222;
  color: #777;
  padding: 30px 0 25px 0;
}

#footer p {
  font-size: 13px;
}

#footer a {
  color: #aaa;
}

#footer a:hover {
  color: #526cbb;
}

/* Media Queries */

@media(min-width:768px) {
  .intro {
    height: 100%;
    padding: 0;
    color: #fff;
  }
  .intro H1 {
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .intro .intro-text p {
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: 20px;
    letter-spacing: 2px;
  }
  section {
    padding: 120px 0;
  }
  header .intro-text {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

@media (max-width: 1024px) {
  #about img {
    float: left;
    margin-bottom: 20px;

  }
}
.star-rating {
  text-align: center;
}

.rating {
  display: inline-block;
  position: relative;
}
.rating input[type="radio"] {
  position: absolute;
  opacity: 0;
  height: 1px;
  width: 1px;
  bottom: 0;
}

.star {
  transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -webkit-transform: rotate(35deg);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  border-bottom: 1.26em solid #D3D3D3;
  border-left: 1.8em solid transparent;
  border-right: 1.8em solid transparent;
  display: inline-block;
  height: 0;
  margin-bottom: 0.9em;
  margin-top: 0.9em;
  position: relative;
  width: 0;
  margin-right: .4em;
  float: right;
}
.star:before, .star:after {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  content: '';
  display: block;
  height: 0;
  position: absolute;
  width: 0;
  z-index: -1;
}
.star:before {
  transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -webkit-transform: rotate(-35deg);
  border-bottom: 1.44em solid #D3D3D3;
  border-left: 0.54em solid transparent;
  border-right: 0.54em solid transparent;
  left: -1.17em;
  top: -0.81em;
}
.star:after {
  transform: rotate(-70deg);
  -moz-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  -webkit-transform: rotate(-70deg);
  border-bottom: 1.26em solid #D3D3D3;
  border-left: 1.8em solid transparent;
  border-right: 1.8em solid transparent;
  left: -1.89em;
  top: 0.054em;
}

.star-5.active, .star-5.active ~ .star {
  border-bottom-color: #FF5254;
}
.star-5.active:before, .star-5.active:after, .star-5.active ~ .star:before, .star-5.active ~ .star:after {
  border-bottom-color: #FF5254;
}

input[type="radio"] + .star-5 {
  cursor: pointer;
}
input[type="radio"] + .star-5:hover, input[type="radio"] + .star-5:hover ~ .star {
  border-bottom-color: #FF5254;
}
input[type="radio"] + .star-5:hover:before, input[type="radio"] + .star-5:hover:after, input[type="radio"] + .star-5:hover ~ .star:before, input[type="radio"] + .star-5:hover ~ .star:after {
  border-bottom-color: #FF5254;
}

.rating:not(:hover) .radio-5:checked ~ .star {
  border-bottom-color: #FF5254;
}
.rating:not(:hover) .radio-5:checked ~ .star:before, .rating:not(:hover) .radio-5:checked ~ .star:after {
  border-bottom-color: #FF5254;
}

.star-4.active, .star-4.active ~ .star {
  border-bottom-color: #FF6C35;
}
.star-4.active:before, .star-4.active:after, .star-4.active ~ .star:before, .star-4.active ~ .star:after {
  border-bottom-color: #FF6C35;
}

input[type="radio"] + .star-4 {
  cursor: pointer;
}
input[type="radio"] + .star-4:hover, input[type="radio"] + .star-4:hover ~ .star {
  border-bottom-color: #FF6C35;
}
input[type="radio"] + .star-4:hover:before, input[type="radio"] + .star-4:hover:after, input[type="radio"] + .star-4:hover ~ .star:before, input[type="radio"] + .star-4:hover ~ .star:after {
  border-bottom-color: #FF6C35;
}

.rating:not(:hover) .radio-4:checked ~ .star {
  border-bottom-color: #FF6C35;
}
.rating:not(:hover) .radio-4:checked ~ .star:before, .rating:not(:hover) .radio-4:checked ~ .star:after {
  border-bottom-color: #FF6C35;
}

.star-3.active, .star-3.active ~ .star {
  border-bottom-color: #FF9900;
}
.star-3.active:before, .star-3.active:after, .star-3.active ~ .star:before, .star-3.active ~ .star:after {
  border-bottom-color: #FF9900;
}

input[type="radio"] + .star-3 {
  cursor: pointer;
}
input[type="radio"] + .star-3:hover, input[type="radio"] + .star-3:hover ~ .star {
  border-bottom-color: #FF9900;
}
input[type="radio"] + .star-3:hover:before, input[type="radio"] + .star-3:hover:after, input[type="radio"] + .star-3:hover ~ .star:before, input[type="radio"] + .star-3:hover ~ .star:after {
  border-bottom-color: #FF9900;
}

.rating:not(:hover) .radio-3:checked ~ .star {
  border-bottom-color: #FF9900;
}
.rating:not(:hover) .radio-3:checked ~ .star:before, .rating:not(:hover) .radio-3:checked ~ .star:after {
  border-bottom-color: #FF9900;
}

.star-2.active, .star-2.active ~ .star {
  border-bottom-color: #3F9E37;
}
.star-2.active:before, .star-2.active:after, .star-2.active ~ .star:before, .star-2.active ~ .star:after {
  border-bottom-color: #3F9E37;
}

input[type="radio"] + .star-2 {
  cursor: pointer;
}
input[type="radio"] + .star-2:hover, input[type="radio"] + .star-2:hover ~ .star {
  border-bottom-color: #3F9E37;
}
input[type="radio"] + .star-2:hover:before, input[type="radio"] + .star-2:hover:after, input[type="radio"] + .star-2:hover ~ .star:before, input[type="radio"] + .star-2:hover ~ .star:after {
  border-bottom-color: #3F9E37;
}

.rating:not(:hover) .radio-2:checked ~ .star {
  border-bottom-color: #3F9E37;
}
.rating:not(:hover) .radio-2:checked ~ .star:before, .rating:not(:hover) .radio-2:checked ~ .star:after {
  border-bottom-color: #3F9E37;
}

.star-1.active, .star-1.active ~ .star {
  border-bottom-color: #14892c;
}
.star-1.active:before, .star-1.active:after, .star-1.active ~ .star:before, .star-1.active ~ .star:after {
  border-bottom-color: #14892c;
}

input[type="radio"] + .star-1 {
  cursor: pointer;
}
input[type="radio"] + .star-1:hover, input[type="radio"] + .star-1:hover ~ .star {
  border-bottom-color: #14892c;
}
input[type="radio"] + .star-1:hover:before, input[type="radio"] + .star-1:hover:after, input[type="radio"] + .star-1:hover ~ .star:before, input[type="radio"] + .star-1:hover ~ .star:after {
  border-bottom-color: #14892c;
}

.rating:not(:hover) .radio-1:checked ~ .star {
  border-bottom-color: #14892c;
}
.rating:not(:hover) .radio-1:checked ~ .star:before, .rating:not(:hover) .radio-1:checked ~ .star:after {
  border-bottom-color: #14892c;
}

/*código para barras de progreso*/

body {
  background: rgba(59, 126, 120, 0.85);
}

h1 {
  color: #fff;
  text-align: center;
}

.circular-progress {
  position: relative;
  margin: auto;
}
.circular-progress, .circular-progress:before, .circular-progress:after {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}
.circular-progress:before, .circular-progress:after {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}
.circular-progress:before {
  line-height: 8rem;
  padding: .5em;
  box-sizing: border-box;
  font-size: 1.8rem;
}
.circular-progress:after {
  line-height: 13rem;
}

.UNAM {
  background: linear-gradient(0deg, rgb(170, 159, 2) 50%, rgba(170, 159, 2, 0.2) 50%);
  transform: rotate(0deg);
}
.UNAM:before, .UNAM:after {
  color: rgb(18, 37, 143);
}
.UNAM:before {
  content: "UNAM";
  background: rgb(151, 231, 255) content-box;
  transform: rotate(0deg);
  text-transform: uppercase;
}
.UNAM:after {
  content:"";
  background: linear-gradient(transparent 50%, rgb(151, 231, 255)  50%);
  transform: scale(1.1) rotate(0deg);
}

.ITESM {
  background: linear-gradient(0deg, rgb(0, 43, 233) 50%, rgba(0, 43, 233, 0.2) 50%);
  transform: rotate(0deg);
}
.ITESM:before, .ITESM:after {
  color: rgb(0, 43, 233);
}
.ITESM:before {
  content: "ITESM";
  background: rgb(151, 231, 255)  content-box;
  transform: rotate(0deg);
  text-transform: uppercase;
}
.ITESM:after {
  content: "";
  background: linear-gradient(transparent 50%, rgb(151, 231, 255) 50%);
  transform: scale(1.1) rotate(0deg);
}

.IPN {
  background: linear-gradient(0deg, rgb(112, 0, 0) 50%, rgba(112, 0, 0, 0.2) 50%);
  transform: rotate(0deg);
}
.IPN:before, .IPN:after {
  color: rgb(112, 0, 0);
}
.IPN:before {
  content: "IPN";
  background: rgb(151, 231, 255) content-box;
  transform: rotate(0deg);
  text-transform: uppercase;
}
.IPN:after {
  content: "";
  background: linear-gradient(transparent 50%, rgb(151, 231, 255) 50%);
  transform: scale(1.1) rotate(0deg);
}
.UAM {
  background: linear-gradient(0deg, black 50%, rgba(0, 0, 0, 0.2) 50%);
  transform: rotate(0deg);
}
.UAM:before, .UAM:after {
  color: black;
}
.UAM:before {
  content: "UAM";
  background: rgb(151, 231, 255) content-box;
  transform: rotate(0deg);
  text-transform: uppercase;
}
.UAM:after {
  content:"";
  background: linear-gradient(transparent 50%, rgb(151, 231, 255)  50%);
  transform: scale(1.1) rotate(0deg);
}

.TecNM {
  background: linear-gradient(0deg, rgb(53, 107, 255) 50%, rgba(3, 107, 255, 0.2) 50%);
  transform: rotate(0deg);
}
.TecNM:before, .TecNM:after {
  color: rgb(3, 107, 255);
}
.TecNM:before {
  content: "TecNM";
  background: rgb(151, 231, 255)  content-box;
  transform: rotate(0deg);
  text-transform: uppercase;
}
.TecNM:after {
  content: "";
  background: linear-gradient(transparent 50%, rgb(151, 231, 255) 50%);
  transform: scale(1.1) rotate(0deg);
}

.ITAM {
  background: linear-gradient(0deg, rgb(11, 88, 56) 50%, rgba(11, 88, 56, 0.2) 50%);
  transform: rotate(0deg);
}
.ITAM:before, .ITAM:after {
  color: rgb(11, 88, 56);
}
.ITAM:before {
  content: "ITAM";
  background: rgb(151, 231, 255) content-box;
  transform: rotate(0deg);
  text-transform: uppercase;
}
.ITAM:after {
  content: "";
  background: linear-gradient(transparent 50%, rgb(151, 231, 255) 50%);
  transform: scale(1.1) rotate(0deg);
}
.UAEMex {
  background: linear-gradient(0deg, rgb(12, 100, 42) 50%, rgba(12, 100, 42, 0.2) 50%);
  transform: rotate(0deg);
}
.UAEMex:before, .UAEMex:after {
  color: rgb(170, 159, 2);
}
.UAEMex:before {
  content: "UAEMex";
  background: rgb(151, 231, 255) content-box;
  transform: rotate(0deg);
  text-transform: uppercase;
}
.UAEMex:after {
  content:"";
  background: linear-gradient(transparent 50%, rgb(151, 231, 255)  50%);
  transform: scale(1.1) rotate(0deg);
}

.UDG {
  background: linear-gradient(0deg, rgb(179, 37, 37) 50%, rgba(179, 37, 37, 0.2) 50%);
  transform: rotate(0deg);
}
.UDG:before, .UDG:after {
  color: rgb(0, 35, 133);
}
.UDG:before {
  content: "UDG";
  background: rgb(151, 231, 255)  content-box;
  transform: rotate(0deg);
  text-transform: uppercase;
}
.UDG:after {
  content: "";
  background: linear-gradient(transparent 50%, rgb(151, 231, 255) 50%);
  transform: scale(1.1) rotate(0deg);
}

.UANL {
  background: linear-gradient(0deg, rgb(0, 20, 196) 50%, rgba(0, 20, 196, 0.2) 50%);
  transform: rotate(0deg);
}
.UANL:before, .UANL:after {
  color: rgb(201, 187, 0);
}
.UANL:before {
  content: "UANL";
  background: rgb(151, 231, 255) content-box;
  transform: rotate(0deg);
  text-transform: uppercase;
}
.UANL:after {
  content: "";
  background: linear-gradient(transparent 50%, rgb(151, 231, 255) 50%);
  transform: scale(1.1) rotate(0deg);
}
.Anahuac {
  background: linear-gradient(0deg, rgb(255, 145, 0) 50%, rgba(255, 145, 0, 0.2) 50%);
  transform: rotate(0deg);
}
.Anahuac:before, .Anahuac:after {
  color: rgb(109, 60, 34);
}
.Anahuac:before {
  content: "Anáhuac";
  background: rgb(151, 231, 255) content-box;
  transform: rotate(0deg);
  text-transform: uppercase;
}
.Anahuac:after {
  content:"";
  background: linear-gradient(transparent 50%, rgb(151, 231, 255)  50%);
  transform: scale(1.1) rotate(0deg);
}

.UNITEC {
  background: linear-gradient(0deg, steelblue 50%, rgba(70, 130, 180, 0.2) 50%);
  transform: rotate(0deg);
}
.UNITEC:before, .UNITEC:after {
  color: steelblue;
}
.UNITEC:before {
  content: "UNITEC";
  background: rgb(151, 231, 255)  content-box;
  transform: rotate(0deg);
  text-transform: uppercase;
}
.UNITEC:after {
  content: "";
  background: linear-gradient(transparent 50%, rgb(151, 231, 255) 50%);
  transform: scale(1.1) rotate(0deg);
}

.UVM {
  background: linear-gradient(0deg, rgb(184, 6, 0) 50%, rgba(184, 6, 0, 0.2) 50%);
  transform: rotate(0deg);
}
.UVM:before, .UVM:after {
  color: black;
}
.UVM:before {
  content: "UVM";
  background: rgb(151, 231, 255) content-box;
  transform: rotate(0deg);
  text-transform: uppercase;
}
.UVM:after {
  content: "";
  background: linear-gradient(transparent 50%, rgb(151, 231, 255) 50%);
  transform: scale(1.1) rotate(0deg);
}
.skills {
  display: flex;
  margin-top: 4em;
  flex-wrap: wrap;
}
